
.nav {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 1.5em;
}



.cards {
  display: grid;
  width: 100%;
  grid-template: auto auto/ repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: space-around;
  margin: 50px;
}

.details {

position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #333;
      color: white;
      padding: 20px;
      box-sizing: border-box;
      font-size: 1.5 em;
      height: 200px;

}

.container {
  height: 100px;
    width: 220px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 5px;
   color: white;
    background-color: #293D6F ;
    font-size: 1.8em;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}


.prev-button,
.next-button {
  background-color: #293D6F; /* Blue background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding for better visual appearance */
  font-size: 16px; /* Font size */
  margin-right: 10px; /* Optional margin for spacing between buttons */
  border: none; /* Remove button border */
  cursor: pointer; /* Show pointer cursor on hover */
}

.prev-button:disabled,
.next-button:disabled {
  background-color: #ccc; /* Grey background color for disabled state */
  cursor: not-allowed; /* Show not-allowed cursor for disabled state */
}
