.nav {
  display: flex;
 
  background-color: rgb(114, 114, 207);
  color: white;
  padding: 15px;
  font-size: 1.5em;
}

.home, .about {
  font-size: 1.3em;
  padding: 10px;
}
.nav-item {
  margin-right: 20px;
}